@page "/"
@inject IJSRuntime js

<h1>Hello, world!</h1>

@{
    ElementReference ef;
}
<button onclick='alert("click!")' @ref=ef>click me</button>
<button @onclick='async ()=> await js.InvokeVoidAsync("HTMLElement.prototype.click.call", ef)'>click that</button>